@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Roman'), local('Helvetica-Neue-Roman'),
    url('fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Bold'), local('Helvetica-Neue-Bold'),
    url('fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  body {
    font-family: 'Helvetica Neue';
  }
.container {
    max-width: 1440px;
    padding: 0 20px;
    margin: auto;
}
.e__logo {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
}

/* ------------СТИЛИЗАЦИЯ СТРАНИЦЫ 'login'----------------- */
.e__form {
    max-width: 640px;
    margin:282px auto 0;
}
.validation__block {
    height: 64px;
    margin-top: -64px;
    display: flex;
    align-items: center;
    column-gap: 14px;
    background: #F5E9E9;
    border: 1px solid #E26F6F;
    border-radius: 8px;
    padding:0 21px;
    margin-bottom: 27px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.validation__block.active {
    visibility: visible;
    opacity: 1;
}
.validation__block_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.e__form_input {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}
.e__form_input label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}
.e__form_input input {
    background: #F5F5F5;
    padding: 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #232323;
}
.e__form_input .validation_label {
    visibility: hidden;
    opacity: 0;
    margin-bottom: unset;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #E26F6F;
}
.e__form_input.active{
    margin-bottom: 20px;
}
.e__form_input.active input {
    border: 1px solid #E26F6F;
}
.e__form_input.active .validation_label {
    margin-top: 8px;
    visibility: visible;
    opacity: 1;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 0px 1px black;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.checkbox_body.active .custom-checkbox+label::before {
    transition: all 0.3s;
    background: #4A67FF;
}
.e__form_checkbox {
    display: flex;
    align-items: center;
    column-gap: 14px;
    margin-bottom: 40px;
}
.checkbox_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.e__form_btn button {
    cursor: pointer;
    padding: 19px;
    width: 100%;
    background: #4A67FF;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all 0.3s;
}
.e__form_btn button:hover {
    background: #4561ec;
}
.e__form_btn button.active {
    background: #99A9FF;
    cursor: default;
    pointer-events: none;
}

/* ----------------СТИЛИЗАЦИЯ СТРАНИЦЫ 'profile'------------------- */
.e__greetings {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-top: 342px;
    margin-bottom: 50px;
}
.e__greetings span {
    font-weight: 700;
}
.e__exit_btn {
    margin: auto;
    max-width: 200px;
}
.e__exit_btn button {
    cursor: pointer;
    background: #F5F5F5;
    border-radius: 8px;
    padding: 19px;
    width: 100%;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    transition: all 0.3s;
}
.e__exit_btn button:hover {
    background: #dbdbdb;
}

